
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .brand {
        color: white;
        text-decoration-line: none;
        font-size: large;
        font-family: Stencil Std, fantasy;
        margin-right: 10px;
      }

      .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
      }

      .grid-container2{
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        column-gap: 20px;
        margin-top: 50px;
    }

      #midCarousel{
       
        color: black;
      }

      .grid-item{
        color: white;
      }
   

